<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Fragments</title>
  <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}" />
  <link rel="stylesheet" th:href="@{/css/index.css}" />
  <style>
  </style>
</head>

<body>
  <div class="border_navbar custom-navbar" th:fragment="navbar">
    <nav class="navbar navbar-expand-lg" style="background-color: #fff;">
      <a class="navbar-brand" href="/">
        <img th:src="@{/images/logo_transparent.png}" alt="Logo Eveent" th:width="90" th:height="40.5"
          class="grayscale">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link navbar-links custom-navbar-link" href="/events">Eventos</a>
          <a class="nav-item nav-link navbar-links custom-navbar-link" href="/especialidades/list">Especialidades</a>
          <a sec:authorize="isAnonymous()" class="nav-item nav-link navbar-links custom-navbar-link"
            href="/signup">Registre-se</a>
          <a sec:authorize="isAnonymous()" class="nav-item nav-link navbar-links custom-navbar-link"
            href="/login">Login</a>
          <a sec:authorize="isAuthenticated()" class="nav-item nav-link navbar-links custom-navbar-link"
             href="/events/applications">Minhas Solicitações</a>
          <a sec:authorize="isAuthenticated()" class="nav-item nav-link navbar-links custom-navbar-link"
            href="/events/my-events">Meus Eventos</a>
          <a sec:authorize="isAuthenticated()" class="nav-item nav-link navbar-links custom-navbar-link" href="/logout"
            th:text="${#authentication?.getName()}"></a>
          </div>
        </div>
      </nav>
    </div>
  </body>
</html>