<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{head :: head}"></head>
<body>
    <div th:insert="~{fragments :: navbar}"></div>
    <div class="container justify-content-center mt-5">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-box" class="col-12 p-5">
                <form id="login-form" class="form" action="" th:object="${usuario}" method="post">
                    <h3 class="text-center">Registre-se</h3>
                    <div class="form-group row">
                        <label for="name">Nome:</label><br>
                        <input type="text" name="name" id="name" th:field="*{nome}" required class="form-control">
                    </div>
                    <div class="form-group row">
                        <label for="birthdate">Data de Nascimento:</label><br>
                        <input type="date" name="birthdate" id="birthdate" th:field="*{dataNascimento}" required
                            class="form-control">
                    </div>
                    <div class="form-group row">
                        <label for="phone">Telefone:</label><br>
                        <input type="tel" name="phone" id="phone" th:field="*{telefone}" class="form-control" required>
                    </div>
                    <div class="form-group row">
                        <label for="email">E-mail:</label><br>
                        <input type="email" name="email" id="email" th:field="*{email}" class="form-control" required>
                        <i th:if="${erro_email}" class="fa fa-exclamation-circle input_error_icon"
                            data-toggle="tooltip" data-placement="bottom" title="Email já está em uso"></i>
                    </div>
                    <div class="form-group row">
                        <label for="password">Senha:</label><br>
                        <input type="password" name="password" id="password" th:field="*{password}" class="form-control"
                            required>
                    </div>
                    <div class="form-group row">
                        <label for="password2">Confirme sua Senha:</label><br>
                        <input type="password" name="password2" id="password2" class="form-control" required>
                    </div>
                    <div class="form-group row justify-content-between align-items-center">
                        <a href="/login" class="text-info">Já cadastrado? Faça login aqui.</a>
                        <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</body>

</html>