<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{head :: head}"></head>
<body>
  <div th:insert="~{fragments :: navbar}"></div>
  <div class="container-fluid main-container my-3">
    <div class="row justify-content-end mx-0" style="width: 100%;">
      <form action="/events" class="form-inline">
        <div class="form-group mx-sm-3 mb-3">
          <input type="text" class="form-control" name="inputSearch" id="input-search" placeholder="Pesquisar..." />
        </div>
        <button type="submit" class="btn btn-outline-info mb-2">
          Pesquisar
        </button>
      </form>
    </div>
    <div class="row">
      <div th:each="evento : ${eventos}" class="card m-3" style="width: 18rem;">
        <div class="card-body pb-1">
          <div class="row align-items-center justify-content-between">
            <a th:href="@{'events/' + ${evento.id}}" class="card-link text-info">
              <h4 class="card-title my-0" th:text="${evento.nome}"></h4>
            </a>
            <span th:if="${evento.finalizado} == true" class="badge badge-success badge-pill">Finalizado</span>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <h5 class="card-text" th:text="${evento.dono.nome}"></h5>
          </div>
          <div class="row">
            <h6 class="card-text" th:text="${evento.local}"></h6>
          </div>
          <div class="row">
            <h6 class="card-text" th:text="${#temporals.format(evento.data, 'dd-MM-yyyy hh:mm a')}"></h6>
          </div>
        </div>

          <ul class="list-group list-group-flush">
            <li th:each="vaga: ${evento.vagas}" class="list-group-item d-flex justify-content-between align-items-center">
              <p style="line-height: 100%; vertical-align: middle; margin-bottom: 0;" th:text="${vaga.especialidade.nome}"></p>
              <span class="badge badge-info badge-pill" th:text="${vaga.quantidade}"></span>
            </li>
          </ul>
          <div class="card-body row justify-content-end">
            <a th:href="@{'events/' + ${evento.id}}" class="card-link text-info" style="margin-right: 10px;">
              Ver Evento
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>