<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{head :: head}"></head>
<body>
<div th:insert="~{fragments :: navbar}"></div>
<div class="container d-flex flex-column bg-white mt-5" style="">
    <div class="row justify-content-center">
        <h1 th:text="${evento.nome}" style="color: #17a2b8;"></h1>
    </div>
    <div class="row justify-content-left ml-3">
        <p><strong>Dono:</strong> <span th:text="${evento.dono.nome}"></span></p>
    </div>
    <div class="row justify-content-left ml-3">
        <p><strong>Local:</strong> <span th:text="${evento.local}"></span></p>
    </div>
    <div class="row justify-content-left ml-3">
        <p><strong>Data:</strong> <span th:text="${#temporals.format(evento.data, 'dd MMM yyyy - HH:mm')}"></span></p>
    </div>
    <div class="justify-content-center" style="width: 100%;">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="vagas-tab" data-toggle="tab" href="#vagas" role="tab" aria-controls="vagas"
                   aria-selected="true">Vagas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="solicitacao-tab" data-toggle="tab" href="#solicitacao" role="tab"
                   aria-controls="solicitacao" aria-selected="false">Solicitações</a>
            </li>

        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="vagas" role="tabpanel" aria-labelledby="vagas-tab">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>Profissional</th>
                        <th>Vagas Disponíveis</th>
                    </tr>
                    <tr th:each="vaga : ${evento.vagas}">
                        <td th:text="${vaga.especialidade.nome}"></td>
                        <td th:text="${vaga.quantidade}"></td>
                    </tr>
                </table>
            </div>
            <div class="tab-pane fade" id="solicitacao" role="tabpanel" aria-labelledby="solicitacao-tab">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th >Candidato</th>
                        <th colspan="2" >Vaga</th>
                    </tr>
                    <tr th:each="candidato : ${candidatos}">
                        <td width="40%" th:text="${candidato.usuario.nome}"></td>
                        <td width="40%" th:text="${candidato.vaga.especialidade.nome}"></td>
                        <td align="center">
                            <button type="button" class="btn btn-success">Aceitar</button>
                            <button type="button" class="btn btn-danger">Negar</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    // Javascript to enable link to tab
    var url = document.location.toString();
    if (url.match('#')) {
        $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
    }

    // Change hash for page-reload
    $('.nav-tabs a').on('shown.bs.tab', function (e) {
        window.location.hash = e.target.hash;
    })
</script>
</body>
</html>