<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
          th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <title th:text="${evento.nome}"></title>
</head>
<body>
<div th:insert="~{fragments :: navbar}"></div>
<div class="container d-flex flex-column justify-content-center align-items-center" style="height: calc(100vh - 40px); width: 60%;">
    <div class="row justify-content-center">
        <h1 th:text="${evento.nome}" style="color: #17a2b8;"></h1>
    </div>
    <div class="row justify-content-center">
        <h4 th:text="${evento.dono.nome}"></h4>
    </div>
    <div class="row justify-content-center">
        <h6 th:text="${evento.local}"></h6>
    </div>
    <div class="row justify-content-center">
        <h6 th:text="${#temporals.format(evento.data, 'dd-MM-yyyy hh:mm a')}"></h6>  
    </div>
    <div class="row justify-content-center" style="width: 100%;">
        <table class="table table-bordered table-hover">
            <tr>
                <th>Profissional</th>
                <th>Vagas</th>
                <th>Ações</th>
            </tr>
            <tr th:each="vaga : ${evento.vagas}">
                <td th:text="${vaga.especialidade.nome}"></td>
                <td th:text="${vaga.quantidade}"></td>
                <td><a href="">Candidatar-se</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>