<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{head :: head}"></head>
<body>
<div th:insert="~{fragments :: navbar}"></div>
<div class="container d-flex flex-column bg-white mt-3">
    <div class="row justify-content-center">
        <h1 th:text="${evento.nome}" style="color: #17a2b8;"></h1>
    </div>
    <div class="row justify-content-left ml-3">
        <p><strong>Dono:</strong> <span th:text="${evento.dono.nome}"></span></p>
    </div>
    <div class="row justify-content-left ml-3">
        <p><strong>Local:</strong> <span th:text="${evento.local}"></span></p>
    </div>
    <div class="row justify-content-left ml-3">
        <p><strong>Data:</strong> <span th:text="${#temporals.format(evento.data, 'dd MMM yyyy - HH:mm')}"></span></p>
    </div>
    <div class="justify-content-center" style="width: 100%;">
        <table class="table table-bordered table-hover">
            <tr>
                <th>Profissional</th>
                <th>Vagas</th>
                <th>Ações</th>
            </tr>
            <tr th:each="vaga : ${evento.vagas}">
                <td class="align-middle" th:text="${vaga.especialidade.nome}"></td>
                <td class="align-middle" th:text="${vaga.quantidade}"></td>
                <td align="center">
                    <form method="POST" th:action="@{ ${evento.id} + '/' + ${vaga.especialidade.nome}}">
                        <button type="button" class="btn btn-outline-secondary btn-candidate">
                            Candidatar-se
                        </button>
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <p th:if="${success != '' }" th:text="${success}"d></p>
</div>

<!-- Modal -->
<div class="modal fade" id="modalCandidate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Candidatar-se</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Você deseja confirmar sua candidatura na vaga <span></span> ?</p>
            </div>
            <div class="modal-footer">
                <form method="POST" id="modal-form">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" name="submit" value="value" class="btn btn-success">Confirmar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalSuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalSucces"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalSucces">Candidatar-se</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p> Candidatura solicitada com sucesso.</p>
                <div th:replace="~{animated :: checkmark}"></div>
            </div>
        </div>
    </div>
</div>
<script>

    $(".btn-candidate").on('click', function (event) {
        event.preventDefault();
        var action = $(this).parent().attr('action');
        $('#modal-form').attr('action', action);
        $('#modalCandidate').modal('show');
        console.log(action)
    });

</script>
</body>
</html>